$primary_color: #F0EFF4;
$secondary_color: #F26659;
$primary_color3: #ffffff;
$font_color: #000000;
$font_color3: white;
$nav_color: #344648;
// color 2 
$primary_color2: #100c0d;
$secondary_color2: #013328;
$font_color2: white;