@font-face {
    font-family: ff-primary;
    src: url(/fonts/arial.ttf);
}
@font-face {
    font-family: ff-primary2;
    src: url(/fonts/arialbd.ttf);
}
@font-face {
    font-family: ff-secondary;
    src: url(/fonts/SansSerifCollection.ttf);
}