@import './utility';
@import './color';
@import './font';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: ff-secondary;
    background:$primary_color;
    color: $font_color;
    line-height: 1.5;
    font-size: 0.875rem;
}
ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
}
h1,
h2,
h3,
h4 {
 @include spacing;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: ff-primary;
}
h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 0.875rem;
  }
  p {
    margin-bottom: 1.25rem;
    color: $font_color;
  }
  @media screen and (min-width: 800px) {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.75rem;
    }
    h4 {
      font-size: 1rem;
    }
    body {
      font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }
}

.home{
    width: 100vw;
    height: 100vh;

    header{
        width: 100vw;
        height: 7vh;
        height: max-content;
        padding: 1rem;
        background: $primary_color;
        z-index: 2;
        overflow: hidden;
        transition: all ease-in-out;

        .logo_icon{
            @include flex;
            justify-content: space-between;
            
            .logo{     

                h3{
                   padding-top: .9rem;
                   
                span{
                    color: $secondary_color;
                }
               }
            }
            .icon{

                .bi{
                    font-size: 2rem;
                }
            }
        }
        nav{
        //    display: none;
            overflow: hidden;
            height: 0;

            ul{
                list-style-type: none;
                display: grid;
                gap: .7rem;

                a{
                    text-decoration: none;

                    li{
                        width: 100vw;
                        text-transform: capitalize;
                        font-size: 1rem;
                        color: $font_color;
                        font-weight: 400;
                        cursor: pointer;
                    }
                    li:hover{
                        border-bottom: 2px solid  $secondary_color;
                    }
                }
            }
        }
        .navShow{
            overflow: visible;
            height: max-content;
            
        }
    }
    .headerFixed{
        position: fixed;
    }

    article{
        width: 90vw;
        margin: 0 auto;
        padding-top: 7rem;

        .hello{
            font-size: 1.2rem;
            font-family: ff-secondary;
            text-transform: capitalize;

            span{
                padding: .5rem 1.5rem;
                background-color: $secondary_color;
                border-radius: .5rem;
                font-size: 1.3rem;
                font-family: ff-primary2;
            }
        }
        h1, h2{
            font-family: sans-serif;
        }
        p{
            font-size: 1.2rem;
        }

        .button{
            margin-top: 4rem;
            
            a{
                text-decoration: none;

                button{
                    width: 10rem;
                    height: 3rem;
                    font-size: 1.3rem;
                    font-family: ff-primary2;
                    text-transform: capitalize;
                    background-color: $secondary_color;
                    border: none;
                    border-radius: .5rem;
                    cursor: pointer;
                    color: black;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                    transition: .3s all ease-in-out;
                }
                button:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}
// -------about------------
.about{
    width: 100vw;
    min-height: 100vh;
    max-height: max-content;
    padding-top: 7rem;
    padding-bottom: 5rem;
    
    .image_content{
        width: 90vw;
        height: 100%;
        @include grid;
        align-items: start;
        justify-content: space-between;
        margin: 1rem auto;
        grid-template-columns: 1fr;
        gap: 2rem;

        .image{
            order: 2;
            width: 100%;
            height: 100vh;
            background-image: url(/image/arinze\ 2.JPG);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            
            // img{
            //     object-fit: contain;
            //     max-width: 100%;
            //     height: auto;
            // }
        }
        
        .content_container{

            h1{

                span{
                    color: $secondary_color;
                }
            }
           p{
            margin-top: 2rem;
            font-family: ff-primary;
           }
           .button{
            margin-top: 2rem;

            a{
                text-decoration: none;

                button{
                    width: 7rem;
                    height: 2rem;
                    font-size: 1rem;
                    font-family: ff-primary2;
                    text-transform: capitalize;
                    background-color: $secondary_color;
                    border: none;
                    border-radius: .5rem;
                    cursor: pointer;
                    color: black;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                }
                button:hover{
                    transform: scale(1.1);
                }
            }
           }
        }
    }
}
// --------service----------
.service{
    width: 100vw;
    min-height: 100vh;
    max-height: max-content;
    padding-top: 7rem;

    p{
        text-align: center;
        font-family: ff-primary;
    }
    .heading{
        text-align: center;

        span{
            color: $secondary_color;
        }
    }

    .container{
        width: 90vw;
        max-width: 500px;
        margin: 5rem auto;
        padding: 2rem 2.5rem;
        background-color: $primary_color3;
        display: grid;
        gap: 1rem;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        .logo{

            .bi-code-slash{
                font-size: 1.5rem;
                font-weight: 600;
            }
        }
        h3{
            letter-spacing: 0;
        }
        p{
            text-align: start;
        }

        button{
            width: 7rem;
            height: 2rem;
            font-size: 1rem;
            font-family: ff-primary2;
            text-transform: capitalize;
            background-color: $primary_color;
            border: none;
            border-radius: .5rem;
            cursor: pointer;
            color: black;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }
        button:hover{
            transform: scale(1.1);
        }
    }
}
// ----------skill-------------
.skill_container{
    width: 100vw;
    min-height: 100vh;
    height: max-content;
    padding-top: 7rem;

    h2{
        text-align: center;

        span{
            color: $secondary_color;
        }
    }

    .skill_level{
        width: 90vw;
        height: max-content;
        margin: 8rem auto;
        @include grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));

        .skill_levelContainer{
            @include grid;
            gap: .5rem;
            .skill{
                width: 160px;
                height: 160px;
                // background: salmon;
                position: relative;
    
                .outer{
                    width: 160px;
                    height: 160px;
                    border-radius: 50%;
                    padding: 20px;
                    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                                -6px -6px 10px -1px rgba(255,255,255,0.7);
    
                    .inner{
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                        @include flex;
                        box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                                    inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                                    -0.5px -0.5px 0px rgba(255,255,255,1),
                                    0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
                                    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
                        
                        #number{
                            font-weight: 600;
                            color: #555;
                        }            
                    }
                }
                svg{
                    position: absolute;
                    top: 0;
                    left: 0;
    
                    circle{
                        fill: none;
                        stroke: url(#GradientColor);
                        stroke-width: 20px;
                        stroke-dasharray: 440;
                        stroke-dashoffset: 440;
                        animation: anim 2s linear forwards;
                    }
    
                    @keyframes anim {
                        100%{
                            stroke-dashoffset: 44;
                        }
                    }
                }
                .css{
                    position: absolute;
                    top: 0;
                    left: 0;
    
                    circle{
                        fill: none;
                        stroke: url(#GradientColor);
                        stroke-width: 20px;
                        stroke-dasharray: 440;
                        stroke-dashoffset: 440;
                        animation: css 2s linear forwards;
                    }
    
                    @keyframes css {
                        100%{
                            stroke-dashoffset: 115;
                        }
                    }
                }
                .sass{
                    position: absolute;
                    top: 0;
                    left: 0;
    
                    circle{
                        fill: none;
                        stroke: url(#GradientColor);
                        stroke-width: 20px;
                        stroke-dasharray: 440;
                        stroke-dashoffset: 440;
                        animation: sass 2s linear forwards;
                    }
    
                    @keyframes sass {
                        100%{
                            stroke-dashoffset: 44;
                        }
                    }
                }
                .js{
                    position: absolute;
                    top: 0;
                    left: 0;
    
                    circle{
                        fill: none;
                        stroke: url(#GradientColor);
                        stroke-width: 20px;
                        stroke-dasharray: 440;
                        stroke-dashoffset: 440;
                        animation: js 2s linear forwards;
                    }
    
                    @keyframes js {
                        100%{
                            stroke-dashoffset: 220;
                        }
                    }
                }
            }
            p{
                text-align: center;
                font-weight: 600;
                color: #555;
                text-transform: uppercase;
            }
        }
    }
}
// -----------contact-----------------
.contact{
    width: 100vw;
    min-height: 100vh;
    height: max-content;
    padding-top: 10rem;

    .contact_container{
        width: 90vw;
        margin: 0 auto;
        
        .container{
            display: grid;
            gap: 1rem;
            height: max-content;

            h2{
                text-align: start;

                span{
                    color: $secondary_color;
                }
            }
            h4{
                letter-spacing: 0;
                font-size: .9rem;
            }
            p{
                text-align: start;
                font-family: ff-primary;
            }
            .reach{
                text-align: start;
                font-family: ff-primary;
            }
            .icons{
                margin-top: 1rem;
                display: flex;
                gap: 1rem;

                a{
                    text-decoration: none;
                    transition: .3s all ease-in-out;

                    .bi{
                        font-size: 1.3rem;
                        padding: .1rem 1rem;
                        border-radius: .3rem;
                        color: black;
                        background-color:  $secondary_color;
                        transition: color .2s;
                    }
                    .bi-twitter:hover{
                        color: #1DA1F2;
                    }
                    .bi-instagram:hover{
                        color: rgb(228, 64, 95);
                    }
                    .bi-facebook:hover{
                        color:#4267B2;
                    }
                }
                a:hover{
                    transform: scale(1.1);
                }
            }
        }
        .img{
            display: none;
            width: 400px;
            height: 400px;
            background-image: url(/image/contact.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }
}

// -------to top 
.to_top{
    position: fixed;
    top: 85%;
    left: 80%;
    visibility: hidden;
    
    a{
        
        button{
            border: none;
            background-color: $secondary_color;
            width: 3rem;
            height: 3rem;
            padding: .5rem;
            border-radius: 50%;
            cursor: pointer;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            animation: bounce 2s ease-in-out infinite;
            
            i{
                font-size: 2rem;
                color: $primary_color2;
            }
       }
       @keyframes bounce {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.2);
        }
        100% {
          transform: scale(1);
        }
       }
    }
}
.show_to_top{
    visibility: visible;
}
// -------fixed git---------- 
.fixed_git{
    position: fixed;
    top: 20%;
    right: 90%;
    // visibility: hidden;
    
    a{
        
        button{
            border: none;
            width: 2rem;
            height: 2rem;
            padding: .5rem;
            border-radius: 50%;
            cursor: pointer;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            animation: bounce 2s ease-in-out infinite;
            
            i{
                font-size: 1rem;
                color: $primary_color2;
            }
       }
       @keyframes bounce {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.2);
        }
        100% {
          transform: scale(1);
        }
       }
    }
}

// ------------------media 800px------------------
@media (min-width: 800px) {
    .home{

        header{

            .logo_icon{

                .logo{

                    h3{
                        font-size: 2.2rem;
                    }
                }

                .icon{

                    .bi{
                        font-size: 2.2rem;
                    }
                }
            }
            nav{

                ul{

                    a{

                        li{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }

        article{

            .hello{
                font-size: 2rem;

                span{
                    font-size: 1.5rem;
                }
            }
            h1{
                font-size: 6rem;
            }
            h2{
                font-size: 4rem;
            }
            p{
                font-size: 1.5rem;
            }
            .button{
                margin-top: 4rem;
                
                a{
                    
                    button{
                        width: 12rem;
                        height: 3rem;
                        font-size: 1.4rem;
                        font-family: ff-primary2;
                        text-transform: capitalize;
                        background-color: $secondary_color;
                        border: none;
                        border-radius: .5rem;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    //    to top---------
    .to_top{
        left: 90%;
        top: 90%;

    } 
    //    to top---------
    .fixed_git{
        right: 95%;
        top: 30%;

        a{

            button{
                width: 3rem;
                height: 3rem;

                i{
                    font-size: 2rem;
                }
            }
        }
    } 
}

// -----------media 920px----------------
@media (min-width: 920px) {
    .about{

        .image_content{
            width: 80vw;
            height: 70vh;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
            margin: 1rem auto;

            .image{
                order: 2;
                width: 100%;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;

            }

            .content_container{
                order: 2;
                padding-top: 3rem;
            }
        } 
     }
}

// ----------------------media 1024px-------------
@media (min-width: 1024px) {
    .home{

        header{
            @include flex;
            justify-content: space-around;

            .logo_icon{
                width: 20%;

                .icon{
                    display: none;
                }
            }

            nav{
                height: max-content;
                ul{
                    @include flex;
                   a{

                    li{
                        width: max-content;
                        padding: 0 1rem;
                    }
                   }
                }
            }
        }

        article{
            width: 70%;

            p{
                width: 50%;
            }
        }
    }

    // --------------about--------------
    .about{

        .image_content{

            .content_container{

                p{
                    width: 80%;
                }
            }
        }
    }

    //------------skill-----------------
    .skill_container{

        .skill_level{
            width: 70vw;
            margin-top: 10rem;
        }
    }

    // ---------------contact------------
    .contact{
        padding-top: 15rem;
        .contact_container{
            width: 70vw;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 4rem;

            .img{
                display: block;
                // margin: 1rem auto;
            }
        }
    }
}