body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.25rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
@font-face {
  font-family: ff-primary;
  src: url(/fonts/arial.ttf);
}
@font-face {
  font-family: ff-primary2;
  src: url(/fonts/arialbd.ttf);
}
@font-face {
  font-family: ff-secondary;
  src: url(/fonts/SansSerifCollection.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: ff-secondary;
  background: #F0EFF4;
  color: #000000;
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.25rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: ff-primary;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: #000000;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
.home {
  width: 100vw;
  min-height: 70vh;
  height: -moz-max-content;
  height: max-content;
}
.home header {
  width: 100vw;
  height: 7vh;
  height: -moz-max-content;
  height: max-content;
  padding: 1rem;
  background: #F0EFF4;
  z-index: 2;
  overflow: hidden;
  transition: all ease-in-out;
}
.home header .logo_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.home header .logo_icon .logo h3 {
  padding-top: 0.9rem;
}
.home header .logo_icon .logo h3 span {
  color: #F26659;
}
.home header .logo_icon .icon .bi {
  font-size: 2rem;
}
.home header nav {
  overflow: hidden;
  height: 0;
}
.home header nav ul {
  list-style-type: none;
  display: grid;
  gap: 0.7rem;
}
.home header nav ul a {
  text-decoration: none;
}
.home header nav ul a li {
  width: 100vw;
  text-transform: capitalize;
  font-size: 1rem;
  color: #000000;
  font-weight: 400;
  cursor: pointer;
}
.home header nav ul a li:hover {
  border-bottom: 2px solid #F26659;
}
.home header .navShow {
  overflow: visible;
  height: -moz-max-content;
  height: max-content;
}
.home .headerFixed {
  position: fixed;
}
.home article {
  width: 90vw;
  margin: 0 auto;
  padding-top: 7rem;
  height: -moz-max-content;
  height: max-content;
}
.home article .hello {
  font-size: 1.2rem;
  font-family: ff-secondary;
  text-transform: capitalize;
}
.home article .hello span {
  padding: 0.5rem 1.5rem;
  background-color: #F26659;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  font-family: ff-primary2;
}
.home article h1, .home article h2 {
  font-family: sans-serif;
}
.home article p {
  font-size: 1.2rem;
}
.home article .button {
  margin-top: 4rem;
}
.home article .button a {
  text-decoration: none;
}
.home article .button a button {
  width: 10rem;
  height: 3rem;
  font-size: 1.3rem;
  font-family: ff-primary2;
  text-transform: capitalize;
  background-color: #F26659;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: 0.3s all ease-in-out;
}
.home article .button a button:hover {
  transform: scale(1.1);
}

.about {
  width: 100vw;
  min-height: 80vh;
  height: -moz-max-content;
  height: max-content;
  padding-top: 7rem;
  padding-bottom: 5rem;
}
.about .image_content {
  width: 90vw;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  align-items: start;
  justify-content: space-between;
  margin: 1rem auto;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.about .image_content .image {
  order: 2;
  width: 100%;
  height: 100vh;
  background-image: url(/image/arinze\ 2.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about .image_content .content_container h1 span {
  color: #F26659;
}
.about .image_content .content_container p {
  margin-top: 2rem;
  font-family: ff-primary;
}
.about .image_content .content_container .button {
  margin-top: 2rem;
}
.about .image_content .content_container .button a {
  text-decoration: none;
}
.about .image_content .content_container .button a button {
  width: 8rem;
  height: 2.5rem;
  font-size: 1rem;
  font-family: ff-primary2;
  text-transform: capitalize;
  background-color: #F26659;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.about .image_content .content_container .button a button:hover {
  transform: scale(1.1);
}

.service {
  width: 100vw;
  min-height: 80vh;
  height: -moz-max-content;
  height: max-content;
  padding-top: 7rem;
}
.service p {
  text-align: center;
  font-family: ff-primary;
  font-size: 1rem;
  font-weight: 600;
}
.service .heading {
  text-align: center;
}
.service .heading span {
  color: #F26659;
}
.service .container {
  width: 90vw;
  max-width: 500px;
  margin: 5rem auto;
  padding: 2rem 2.5rem;
  background-color: #ffffff;
  display: grid;
  gap: 1rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.service .container .logo .bi-code-slash {
  font-size: 1.5rem;
  font-weight: 600;
}
.service .container h3 {
  letter-spacing: 0;
}
.service .container p {
  text-align: start;
}
.service .container button {
  width: 7rem;
  height: 2rem;
  font-size: 1rem;
  font-family: ff-primary2;
  text-transform: capitalize;
  background-color: #F0EFF4;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.service .container button:hover {
  transform: scale(1.1);
}

.skill_container {
  width: 100vw;
  min-height: 40vh;
  height: -moz-max-content;
  height: max-content;
  padding-top: 7rem;
}
.skill_container h2 {
  text-align: center;
}
.skill_container h2 span {
  color: #F26659;
}
.skill_container .skill_level {
  width: 90vw;
  height: -moz-max-content;
  height: max-content;
  margin: 6rem auto;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}
.skill_container .skill_level .skill_levelContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.skill_container .skill_level .skill_levelContainer .skill {
  width: 160px;
  height: 160px;
  position: relative;
}
.skill_container .skill_level .skill_levelContainer .skill .outer {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
.skill_container .skill_level .skill_levelContainer .skill .outer .inner {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px rgb(255, 255, 255), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}
.skill_container .skill_level .skill_levelContainer .skill .outer .inner #number {
  font-weight: 600;
  color: #555;
}
.skill_container .skill_level .skill_levelContainer .skill svg {
  position: absolute;
  top: 0;
  left: 0;
}
.skill_container .skill_level .skill_levelContainer .skill svg circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  animation: anim 2s linear forwards;
}
@keyframes anim {
  100% {
    stroke-dashoffset: 44;
  }
}
.skill_container .skill_level .skill_levelContainer .skill .css {
  position: absolute;
  top: 0;
  left: 0;
}
.skill_container .skill_level .skill_levelContainer .skill .css circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  animation: css 2s linear forwards;
}
@keyframes css {
  100% {
    stroke-dashoffset: 115;
  }
}
.skill_container .skill_level .skill_levelContainer .skill .sass {
  position: absolute;
  top: 0;
  left: 0;
}
.skill_container .skill_level .skill_levelContainer .skill .sass circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  animation: sass 2s linear forwards;
}
@keyframes sass {
  100% {
    stroke-dashoffset: 44;
  }
}
.skill_container .skill_level .skill_levelContainer .skill .js {
  position: absolute;
  top: 0;
  left: 0;
}
.skill_container .skill_level .skill_levelContainer .skill .js circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  animation: js 2s linear forwards;
}
@keyframes js {
  100% {
    stroke-dashoffset: 220;
  }
}
.skill_container .skill_level .skill_levelContainer p {
  text-align: center;
  font-weight: 600;
  color: #555;
  text-transform: uppercase;
}

.contact {
  width: 100vw;
  min-height: 80vh;
  height: -moz-max-content;
  height: max-content;
  padding-top: 5rem;
}
.contact .contact_container {
  width: 90vw;
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto;
}
.contact .contact_container .container {
  display: grid;
  gap: 1rem;
  height: -moz-max-content;
  height: max-content;
}
.contact .contact_container .container h2 {
  text-align: start;
}
.contact .contact_container .container h2 span {
  color: #F26659;
}
.contact .contact_container .container h4 {
  letter-spacing: 0;
  font-size: 0.9rem;
  text-transform: none;
}
.contact .contact_container .container p {
  text-align: start;
  font-family: ff-primary;
}
.contact .contact_container .container .reach {
  text-align: start;
  font-family: ff-primary;
}
.contact .contact_container .container .icons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
.contact .contact_container .container .icons a {
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}
.contact .contact_container .container .icons a .bi {
  font-size: 1.3rem;
  padding: 0.1rem 1rem;
  border-radius: 0.3rem;
  color: black;
  background-color: #F26659;
  transition: color 0.2s;
}
.contact .contact_container .container .icons a .bi-twitter:hover {
  color: #1DA1F2;
}
.contact .contact_container .container .icons a .bi-instagram:hover {
  color: rgb(228, 64, 95);
}
.contact .contact_container .container .icons a .bi-facebook:hover {
  color: #4267B2;
}
.contact .contact_container .container .icons a .bi-linkedin:hover {
  color: #4267B2;
}
.contact .contact_container .container .icons a:hover {
  transform: scale(1.1);
}
.contact .contact_container .img {
  display: none;
  width: 400px;
  height: 400px;
  background-image: url(/image/contact.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

footer {
  height: 10vh;
  background-color: #344648;
  display: grid;
  justify-content: center;
  align-items: center;
}
footer p {
  color: white;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: capitalize;
}

.to_top {
  position: fixed;
  top: 85%;
  left: 80%;
  visibility: hidden;
}
.to_top a button {
  border: none;
  background-color: #F26659;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  animation: bounce 2s ease-in-out infinite;
}
.to_top a button i {
  font-size: 2rem;
  color: #100c0d;
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.show_to_top {
  visibility: visible;
}

.fixed_git {
  position: fixed;
  top: 20%;
  right: 90%;
}
.fixed_git a button {
  border: none;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  animation: bounce 2s ease-in-out infinite;
}
.fixed_git a button i {
  font-size: 1rem;
  color: #100c0d;
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media (min-width: 800px) {
  .home header .logo_icon .logo h3 {
    font-size: 2.2rem;
  }
  .home header .logo_icon .icon .bi {
    font-size: 2.2rem;
  }
  .home header nav ul a li {
    font-size: 1.2rem;
  }
  .home article .hello {
    font-size: 2rem;
  }
  .home article .hello span {
    font-size: 1.5rem;
  }
  .home article h1 {
    font-size: 6rem;
  }
  .home article h2 {
    font-size: 4rem;
  }
  .home article p {
    font-size: 1.5rem;
  }
  .home article .button {
    margin-top: 4rem;
  }
  .home article .button a button {
    width: 12rem;
    height: 3rem;
    font-size: 1.4rem;
    font-family: ff-primary2;
    text-transform: capitalize;
    background-color: #F26659;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  .to_top {
    left: 90%;
    top: 90%;
  }
  .fixed_git {
    right: 95%;
    top: 30%;
  }
  .fixed_git a button {
    width: 3rem;
    height: 3rem;
  }
  .fixed_git a button i {
    font-size: 2rem;
  }
}
@media (min-width: 920px) {
  .about .image_content {
    width: 80vw;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 1rem auto;
  }
  .about .image_content .image {
    order: 2;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .about .image_content .content_container {
    order: 2;
    padding-top: 3rem;
  }
}
@media (min-width: 1024px) {
  .home header {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
  }
  .home header .logo_icon {
    width: 20%;
  }
  .home header .logo_icon .icon {
    display: none;
  }
  .home header nav {
    height: -moz-max-content;
    height: max-content;
  }
  .home header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home header nav ul a li {
    width: -moz-max-content;
    width: max-content;
    padding: 0 1rem;
  }
  .home article {
    width: 70%;
  }
  .home article p {
    width: 50%;
  }
  .about .image_content .content_container p {
    width: 80%;
  }
  .skill_container .skill_level {
    width: 70vw;
    margin-top: 10rem;
  }
  .contact {
    padding-top: 10rem;
  }
  .contact .contact_container {
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  .contact .contact_container .img {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */